.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .track,
.scroll-bar:horizontal .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
}

.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.scroll-bar:vertical .thumb:hover,
.scroll-bar:horizontal .thumb:hover {
    -fx-background-color: rgba(0, 0, 0, 0.3);
}

.scroll-bar:vertical .thumb:pressed,
.scroll-bar:horizontal .thumb:pressed {
    -fx-background-color: rgba(0, 0, 0, 0.4);
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.scroll-bar .increment-arrow:hover,
.scroll-bar .decrement-arrow:hover {
    -fx-background-color: rgba(0, 0, 0, 0.3);
}

.scroll-bar .increment-arrow:pressed,
.scroll-bar .decrement-arrow:pressed {
    -fx-background-color: rgba(0, 0, 0, 0.4);
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
} 