# Configuration files
qupath-gui-fx/src/main/resources/config.properties

# IDE files
.idea/
*.iml
.vscode/

# Build files
target/
build/
*.class

# Log files
*.log

# OS files
.DS_Store
Thumbs.db

# Javadocs
docs/

# Maven
deploy/
log/

# Config
include-extra*
include-extra.*

out/

# Gradle
# Use local properties (e.g. to set a specific JDK)
gradle.properties
.gradle/

# Eclipse
.settings/
.project
.classpath
.checkstyle

# Java
hs_err*.log

# Other
*.tmp
*.bak
*.swp
*~.nib

bin/
.kotlin
untranslated_keywords.txt
